.site-header {
  width: 100%;
  min-width: 480px;
  max-height: 200px;
  background-color: rgb(71, 33, 22);
  margin: 0;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;

  h1 {
    margin: 0;
    padding: 20px;
    max-width: 300px;
    min-width: 25%;
    button {
      border: none;
      background-color: rgba(71, 33, 22, 1);
      cursor: pointer;

      img {
        width: 100%;
      }
    }
  }
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle,
.menu-option {
  display: block;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
  color: #FFF;
  cursor: pointer;
  margin: 0 1rem;
  border: solid .2rem rgba(71, 33, 22, 1);
  &:hover{
    border: solid .2rem tan;
    border-radius: 10px;
    transition: transform .2s ease-out;

  }
}

.lbl-toggle::after {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-left: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}

.toggle:checked+.lbl-toggle::after {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  z-index: 10;
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
  overflow: visible;
}

.collapsible-content .content-inner {
  padding-top: .5rem;
  margin:0;
  position: relative;
  left: 50px;
  .button{
    background: rgb(114, 80, 61);
    color: white;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    border: solid .2rem rgb(114, 80, 61);
    padding: 1rem;
    &:hover{
      border: solid .2rem tan;
    }
  }
}

/*
The styles above this comment can be deleted after making the changes to semantic HTML
*/

/*
.site-header {
  width: 100%;
  max-height: 200px;
  background-color: rgb(71, 33, 22);
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .home-logo {
    margin: 0;
    padding: 20px;
    max-width: 300px;
    min-width: 10%;
    img {
      width: 100%;
    }
  }

  button {
    background-color: rgba(71, 33, 22, 1);
  }
}


nav {
  > ul {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.menu-option {
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
  color: #FFF;
  cursor: pointer;
  margin: 0 1rem;
  border: solid .2rem rgba(71, 33, 22, 0);
  &:hover{
    border-width: .2rem;
    border-color: tan;
    border-style: solid;
    border-radius: 10px;
    transition: transform .2s ease-out;
  }
}

.arrow-icon {
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-left: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}

.rotated-arrow-icon {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  z-index: 10;
  max-height: 0px;
  overflow: hidden;
  padding: 0;
  transition: max-height .25s ease-in-out;
}

.collapsible-content .content-inner {
  z-index: 10;
  padding: 1rem .2rem;
  margin: 0;
  position: relative;
  left: 50px;
  background: rgb(114, 80, 61);
  position: relative;
  text-align: center;
  border: solid .2rem rgba(114, 80, 61, 0);
  &:hover{
    border: solid .2rem tan;
  }
}

.link {
  min-width: 44px;
  min-height: 44px;
  padding: .8rem 0;
  color: white;
}

.show-submenu {
  overflow: visible;
}

@media (max-width: 910px) {
  .site-header {
    justify-content: start;
  }
  .home-logo {
    display: none;
  }
}

@media(max-width: 570px) {
  header {
    max-height: 100%;
    min-height: 270px;;
  }
  nav {
    min-height: 270px;
    > ul {
      flex-direction: column;
      justify-content: space-between;
      li {
        min-height: 35px;
        margin: 15px 0 10px 0;
        button, a {
          font-size: var(--body-text)
        }
      }
    }
  }

*/


