.category-wrapper {
  display: flex;
  justify-content: start;
}

.side-nav-wrapper {
  flex-grow: 1;
  max-width: 270px;
  max-height: 750px;
}

.side-nav-wrapper h3 {
  margin: 10px;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
}

.detail-wrapper {
  flex-grow: 2;
  margin: 10px;
  max-width: 1000px;
}

.horizontal-divider {
  margin: 10px 2%;
  border-left: solid 2px rgb(71, 33, 22);
}
