html, body { height: 100%; }
body {
  font-family: Roboto, "Work Sans", sans-serif;
  margin: 0 auto;
  width: auto;
}

body,
section,
.main-content {
  background-color: rgba(232, 249, 253, 1);
}

.main-content {
  max-width: 1500px;
  margin: 0 auto;
  min-width: 480px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1;
  padding: 0;
  border: 0;
  overflow: hidden;
}
